// Variables

// Fonts
$poppins: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;
$jost: 'Jost', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$noto-serif: 'Noto Serif', serif;
$lato: 'Lato', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Color
$main-color: #396FF0;
$light-main-color: #FBFCFF;
$white-color: #ffffff;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Animations
@keyframes navLinkOnHover {
    0% {
        width: 0;
    }

    100% {
        width: 3rem;
    }
}

#app {
}

// Navbar
nav {
    height: 10vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    .inner-nav {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 10%;

        .logo-wrapper {
            flex: 2;

            h1 {
                font-family: $quicksand;
                font-size: 2.25rem;
            }
        }

        ul.nav-links {
            flex: 5;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            gap: 10px;

            li.nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;

                &.active a {
                    color: $main-color;
                    font-weight: 700;

                    &::after {
                        content: '';
                        background: $main-color;
                        width: 3rem;
                        height: 3px;
                        position: absolute;
                        bottom: 0;
                        border-radius: 8px;
                    }
                }

                a {
                    font-family: $poppins;
                    color: #555;
                    font-weight: 600;
                    text-decoration: none;
                    font-size: 1.03rem;
                    width: 100%;
                    height: 45%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    &:hover {
                        color: $main-color;
                    }

                    &:hover::after {
                        content: '';
                        background: $main-color;
                        width: 3rem;
                        height: 3px;
                        position: absolute;
                        bottom: 0;
                        border-radius: 8px;
                        animation: navLinkOnHover 300ms ease;
                    }
                }
            }
        }
    }
}


// Hero
section.hero {
    display: flex;
    align-items: center;
    padding: 4.5rem 10%;
    gap: 3rem;

    .profile-hero-wrapper {
        flex: 1;

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .text-hero-wrapper {
        flex: 3;

        span.hello {
            font-family: $lato;
            font-size: 1.25rem;
        }

        h2 {
            font-size: 4.25rem;
            font-family: $quicksand;

            span {
                color: $main-color;
            }
        }

        p.short-desc {
            font-family: $roboto;
            color: #444;
            text-indent: 2rem;
            margin-top: .6rem;
            line-height: 28px;
        }

        .businnes-email {
            display: flex;
            align-items: center;
            font-family: $roboto;
            font-weight: 500;
            margin-top: .4rem;
            font-size: 1.1rem;

            span.businnes-text {
                color: #333;
            }

            a {
                color: $main-color;
            }
        }
    }
}


// About
section.about {
    display: flex;
    flex-direction: column;
    padding: 0 10%;

    .title-area {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            font-family: $quicksand;
        }

        hr {
            width: 7rem;
            height: 3.5px;
            border: none;
            background: $main-color;
            border-radius: 10px;
            margin-top: .28rem;
        }
    }

    .desc-area {
        margin-top: 1.3rem;

        p {
            color: #444;
            font-family: $roboto;
            text-indent: 2.5rem;
            line-height: 26px;
        }
    }
}
// End of About

// Achievments
section.achievments {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 3rem;

    .title-area {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            font-family: $quicksand;
        }

        hr {
            width: 7rem;
            height: 3.5px;
            border: none;
            background: $main-color;
            border-radius: 10px;
            margin-top: .28rem;
        }
    }

    .desc-area {
        margin-top: 1.3rem;

        ul.list-achievments {
            font-family: $roboto;
            color: #444;

            li.achievment {
                margin: .3rem 0;
                padding: .7rem 0;
                border-bottom: 1px solid #ccc;
                cursor: pointer;

                i {
                    color: rgb(233, 211, 17);
                    margin-right: 5px;
                }
            }
        }
    }
}
// End of Achievments

// Skills
section.skills {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 3rem;

    .title-area {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            font-family: $quicksand;
        }

        hr {
            width: 7rem;
            height: 3.5px;
            border: none;
            background: $main-color;
            border-radius: 10px;
            margin-top: .28rem;
        }
    }

    .desc-area {
        margin-top: 1.3rem;

        .skills-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 1.5rem;

            .skill {
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
                padding: 3rem;
                border-radius: 7px;
                display: flex;
                flex-direction: column;

                img {
                    width: 50%;
                    margin: 0 auto;
                    border-radius: 8px;
                }

                span {
                    text-align: center;
                    margin-top: 1.5rem;
                    font-family: $poppins;
                    font-size: 1.3rem;
                    font-weight: 600;
                }
            }
        }
    }
}
// End of Skills

// Projects
section.projects {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    margin-top: 3rem;

    .title-area {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 3rem;
            font-family: $quicksand;
        }

        hr {
            width: 7rem;
            height: 3.5px;
            border: none;
            background: $main-color;
            border-radius: 10px;
            margin-top: .28rem;
        }
    }

    .desc-area {
        margin-top: 1.3rem;

        .projects-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 1.5rem;

            .project {
                box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
                padding: 3rem;
                border-radius: 7px;
                display: flex;
                flex-direction: column;

                img.thumbnail {
                    width: 100%;
                }

                h2.title {
                    font-family: $open-sans;
                    font-weight: 600;
                    text-align: center;
                    color: #333;
                    margin-top: 1rem;
                }

                ul.stacks {
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    margin-top: 1.25rem;

                    li {
                        margin: 0 5px;

                        img {
                            width: 45px;
                            border-radius: 7px;
                        }
                    }
                }

                .action {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 3rem;

                    .button {
                        display: flex;
                        border: 1.25px solid #333;
                        padding: .4rem;
                        border-radius: 5px;
                        margin-left: 10px;
                        font-family: $open-sans;
                        text-decoration: none;
                        color: #333;
                    }

                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
}
// End of projects