* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  width: 92.5%;
}

@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.d-none {
  display: none !important;
}

@keyframes navLinkOnHover {
  0% {
    width: 0;
  }
  100% {
    width: 3rem;
  }
}
@keyframes sidebarActive {
  0% {
    left: -60%;
  }
  100% {
    left: 0;
  }
}
@keyframes sidebarNotActive {
  0% {
    left: 0;
  }
  100% {
    left: -60%;
  }
}
#app {
  padding-top: 10vh;
}

nav {
  height: 10vh;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #FFFFFF;
  top: 0;
  left: 0;
}
nav .inner-nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0;
}
nav .inner-nav .logo-wrapper {
  flex: 2;
}
nav .inner-nav .logo-wrapper h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.25rem;
  color: #444444;
}
@media screen and (max-width: 991px) {
  nav .inner-nav .logo-wrapper h1 {
    text-align: center;
    font-size: 2rem;
  }
}
nav .inner-nav ul.nav-links {
  flex: 5;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
}
nav .inner-nav ul.nav-links.sidebar-active {
  animation: sidebarActive 300ms ease forwards;
}
nav .inner-nav ul.nav-links.sidebar-not-active {
  animation: sidebarNotActive 300ms ease forwards;
}
@media screen and (max-width: 991px) {
  nav .inner-nav ul.nav-links {
    position: fixed;
    top: 0;
    left: -60%;
    width: 60%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding-top: 10vh;
  }
}
nav .inner-nav ul.nav-links li.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 991px) {
  nav .inner-nav ul.nav-links li.nav-link {
    height: 2.5rem;
  }
}
nav .inner-nav ul.nav-links li.nav-link.active a {
  color: #396FF0;
  font-weight: 700;
}
nav .inner-nav ul.nav-links li.nav-link.active a::after {
  content: "";
  background: #396FF0;
  width: 3rem;
  height: 3px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}
@media screen and (max-width: 991px) {
  nav .inner-nav ul.nav-links li.nav-link.active a::after {
    bottom: -8px;
  }
}
nav .inner-nav ul.nav-links li.nav-link a {
  font-family: "Quicksand", sans-serif;
  color: #555;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.03rem;
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
nav .inner-nav ul.nav-links li.nav-link a:hover {
  color: #396FF0;
}
nav .inner-nav ul.nav-links li.nav-link a:hover::after {
  content: "";
  background: #396FF0;
  width: 3rem;
  height: 3px;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  animation: navLinkOnHover 300ms ease;
}
@media screen and (max-width: 991px) {
  nav .inner-nav ul.nav-links li.nav-link a:hover::after {
    bottom: -8px;
  }
}
nav .hamburger {
  display: none;
}
@media screen and (max-width: 991px) {
  nav .hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 25px;
    left: 1rem;
    top: 3.5vh;
    cursor: pointer;
  }
}
@media screen and (max-width: 991px) {
  nav .hamburger div {
    background: #444444;
    height: 2px;
    width: 25px;
    margin: 2.5px 0;
  }
}

section.hero {
  display: flex;
  align-items: center;
  padding: 4.5rem 0;
  gap: 3rem;
}
@media screen and (max-width: 991px) {
  section.hero {
    flex-direction: column;
    padding: 4rem 0 3rem;
  }
}
section.hero .profile-hero-wrapper {
  flex: 1;
}
section.hero .profile-hero-wrapper img {
  width: 225px;
  border-radius: 100%;
}
@media screen and (max-width: 991px) {
  section.hero .profile-hero-wrapper img {
    width: 200px;
  }
}
section.hero .text-hero-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  section.hero .text-hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
section.hero .text-hero-wrapper span.hello {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}
section.hero .text-hero-wrapper h2 {
  font-size: 4.25rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 768px) {
  section.hero .text-hero-wrapper h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  section.hero .text-hero-wrapper h2 {
    font-size: 2rem;
  }
}
section.hero .text-hero-wrapper h2 span {
  color: #396FF0;
}
section.hero .text-hero-wrapper p.short-desc {
  text-indent: 2rem;
  margin-top: 0.6rem;
  color: #666;
  font-family: "Open Sans", sans-serif;
  text-indent: 2.5rem;
  line-height: 29px;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  section.hero .text-hero-wrapper p.short-desc {
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    text-indent: 0;
  }
}
section.hero .text-hero-wrapper a {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  background: #396FF0;
  font-size: 15px;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  margin-top: 0.5rem;
  align-self: flex-start;
  transition: all 300ms ease;
}
section.hero .text-hero-wrapper a:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  section.hero .text-hero-wrapper a {
    margin: auto;
    margin-top: 1.2rem;
  }
}
section.hero .text-hero-wrapper .businnes-email {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}
section.hero .text-hero-wrapper .businnes-email span.businnes-text {
  color: #333;
}
section.hero .text-hero-wrapper .businnes-email a {
  color: #396FF0;
}

section.about {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}
section.about .title-area {
  display: flex;
  flex-direction: column;
}
section.about .title-area h1 {
  font-size: 2.25rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 526px) {
  section.about .title-area h1 {
    font-size: 1.8rem;
  }
}
section.about .title-area hr {
  width: 7rem;
  height: 3.5px;
  border: none;
  background: #396FF0;
  border-radius: 10px;
  margin-top: 0.28rem;
}
section.about .desc-area {
  margin-top: 1.3rem;
}
section.about .desc-area p {
  color: #666;
  font-family: "Open Sans", sans-serif;
  text-indent: 2.5rem;
  line-height: 29px;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  section.about .desc-area p {
    font-size: 15px;
    line-height: 26px;
  }
}
section.about .desc-area button {
  background: #FFFFFF;
  padding: 0.5rem 1.25rem;
  margin-top: 1rem;
  color: #444444;
  cursor: pointer;
  transition: all 200ms ease;
}
section.about .desc-area button:hover {
  box-shadow: 8px 5px 0px black;
  background: #F0F0F0;
}

section.achievments {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  margin-top: 3rem;
}
section.achievments .title-area {
  display: flex;
  flex-direction: column;
}
section.achievments .title-area h1 {
  font-size: 2.25rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 526px) {
  section.achievments .title-area h1 {
    font-size: 1.8rem;
  }
}
section.achievments .title-area hr {
  width: 7rem;
  height: 3.5px;
  border: none;
  background: #396FF0;
  border-radius: 10px;
  margin-top: 0.28rem;
}
section.achievments .desc-area {
  margin-top: 1.3rem;
}
section.achievments .desc-area ul.list-achievments {
  font-family: "Roboto", sans-serif;
  color: #444;
}
section.achievments .desc-area ul.list-achievments li.achievment {
  margin: 1rem 0;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: all 150ms ease;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
section.achievments .desc-area ul.list-achievments li.achievment:hover {
  background: #EFEFEF;
}
section.achievments .desc-area ul.list-achievments li.achievment span {
  color: #666;
  font-family: "Open Sans", sans-serif;
  line-height: 29px;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  section.achievments .desc-area ul.list-achievments li.achievment span {
    font-size: 15px;
    line-height: 26px;
  }
}
section.achievments .desc-area ul.list-achievments li.achievment span i {
  color: #e9d311;
  margin-right: 5px;
}
section.achievments .desc-area ul.list-achievments li.achievment .achievment-detail {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
section.achievments .desc-area ul.list-achievments li.achievment .achievment-detail ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 17.5px;
  list-style: none;
}
section.achievments .desc-area ul.list-achievments li.achievment .achievment-detail ul li img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #666666;
}
section.achievments .desc-area ul.list-achievments li.achievment .achievment-detail p {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 0.7rem;
}

section.skills {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}
section.skills .title-area {
  display: flex;
  flex-direction: column;
}
section.skills .title-area h1 {
  font-size: 2.25rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 526px) {
  section.skills .title-area h1 {
    font-size: 1.8rem;
  }
}
section.skills .title-area hr {
  width: 7rem;
  height: 3.5px;
  border: none;
  background: #396FF0;
  border-radius: 10px;
  margin-top: 0.28rem;
}
section.skills .desc-area {
  margin-top: 1.3rem;
}
section.skills .desc-area .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}
section.skills .desc-area .skills-container .skill {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
section.skills .desc-area .skills-container .skill img {
  width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}
section.skills .desc-area .skills-container .skill span {
  text-align: center;
  margin-top: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

section.projects {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  margin-top: 3rem;
}
section.projects .title-area {
  display: flex;
  flex-direction: column;
}
section.projects .title-area h1 {
  font-size: 2.25rem;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 526px) {
  section.projects .title-area h1 {
    font-size: 1.8rem;
  }
}
section.projects .title-area hr {
  width: 7rem;
  height: 3.5px;
  border: none;
  background: #396FF0;
  border-radius: 10px;
  margin-top: 0.28rem;
}
section.projects .desc-area {
  margin-top: 1.3rem;
}
section.projects .desc-area .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}
@media screen and (max-width: 991px) {
  section.projects .desc-area .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
section.projects .desc-area .projects-container .project {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 3rem;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}
section.projects .desc-area .projects-container .project img.thumbnail {
  width: 100%;
  border-radius: 8px;
}
section.projects .desc-area .projects-container .project h2.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-top: 1rem;
}
section.projects .desc-area .projects-container .project ul.stacks {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 1.25rem;
}
section.projects .desc-area .projects-container .project ul.stacks li {
  margin: 0 5px;
}
section.projects .desc-area .projects-container .project ul.stacks li img {
  width: 45px;
  border-radius: 7px;
}
section.projects .desc-area .projects-container .project .action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}
section.projects .desc-area .projects-container .project .action .button {
  display: flex;
  border: 1.25px solid #333;
  padding: 0.4rem;
  border-radius: 5px;
  margin-left: 10px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #333;
}
section.projects .desc-area .projects-container .project .action img {
  width: 20px;
}

section.contact {
  display: flex;
  flex-direction: column;
  padding: 0 0;
  margin-top: 6rem;
  font-family: "Lato", sans-serif;
}
section.contact .title-area h1 {
  text-align: center;
  font-weight: 600;
  color: #333333;
  font-size: 1.5rem;
}
section.contact .title-area hr {
  width: 50px;
  margin: auto;
  margin-top: 10px;
  height: 2px;
  background: #555555;
  border: none;
}
section.contact .contacts {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
section.contact .contacts a {
  color: #333333;
  font-size: 1.5rem;
  transition: all 300ms ease;
  margin: 0 0.7rem;
}
section.contact .contacts a:hover {
  color: #777777;
}

footer {
  background: #333333;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 6rem;
}
footer span {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
}
footer span i {
  margin: 0 7px;
}

/*# sourceMappingURL=app.css.map */
